
[Unit]
Description=Discord alert bot
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/opt/discord-bots/var/discord-alert-bot.pid
#EnvironmentFile=
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/discord-bots/discord-alert-bot/venv/bin/discord-alert-bot.py
User=discord

[Install]
WantedBy=multi-user.target

